* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero-image-one::after {
  content: "";
  background: linear-gradient( 0deg, #f2f7fb 47.84%, rgba(242, 247, 251, 0.9) 99.92% );
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.hero-image-two {
  background-blend-mode: overlay;
  opacity: 60%;
  color: #08006c;
}

.anchor-with-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url("/public//Images/Mail.svg") no-repeat center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25%;
  border-radius: 2px;
}

.anchor-with-icon.call::before {
  background: url("/public//Images/DesktopCall.svg") no-repeat center;
  left: -30%;
}
.instagram::before {
  width: 29px;
  height: 28px;
  background: url("/public//Images/Instagram.svg") no-repeat center;
  background-blend-mode: overlay;
}

.background {
  background: url('/public//Images/About.svg') , #27307D; 
  background-blend-mode: overlay
}

.fed-in-left {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.test::before {
  background: url("/public//Images/Ellipse.svg") no-repeat center;
}

.group::before {
  background-color:#27307D1F; 
  border: 3px solid transparent;
  border-radius: 50%;
}

@media only screen and (min-width: 992px){
  .group:hover::before {
    background-color: #F6C6481F;
    border: 4px solid #F6C648;
  }
}

.icon1::before { background: url('/public//Images/Cost.svg') no-repeat center; }
.icon2::before { background: url('/public//Images/Integrity.svg') no-repeat center; }
.icon3::before { background: url('/public//Images/professional.svg') no-repeat center; }
.icon5::before { background: url('/public//Images/Quality.svg') no-repeat center; }
.icon6::before { background: url('/public//Images/Accountability.svg') no-repeat center; }
.icon7::before { background: url('/public//Images/Confidential.svg') no-repeat center; }
.icon8::before { background: url('/public//Images/Focus.svg') no-repeat center; }
.tab-filter1::before { background: url('/public//Images/Tab1.svg') no-repeat center; }
.tab-desk-icon::before { background: url('/public//Images/Tab1Back.svg') no-repeat center; }
.tab-filter2::before { background: url('/public//Images/TabIcon2.svg') no-repeat center; }
.tab-filter3::before { background: url('/public//Images/TabIcon3.svg') no-repeat center; }
.background.desktop-bg { background: url('/public//Images/DesktopBg.svg') , #27307D; }
.nav-list .active::before { background: url('/public//Images/EllipseNav.svg') no-repeat center; }
.elips::before { background: url('/public//Images/TestimonialEllipse.svg') no-repeat center; }
.elips.testimonila-mobile::before { background: url('/public//Images/MobileTestimonial.svg') no-repeat center; }
.heading-ellipse::before { background: url('/public//Images/CommitmentEllipse.svg') no-repeat center; }
.heading-ellipse.benifits::before { background: url('/public//Images/BenifitsElips.svg') no-repeat center; }
.elips-serving::before { background: url('/public//Images/ServingElips.svg') no-repeat center; }
.elips-serving2::before { background: url('/public//Images/ServingElips2.svg') no-repeat center; }
.serving-desktop::before { background: url('/public//Images/ServingHeaderElips.svg') no-repeat center; }
.serving-desktop.serving-mobile::before { background: url('/public//Images/ServingMobileHeadingElips.svg') no-repeat center; }
.tab-desktop-elips::before { background: url('/public//Images/TabDesktopElips.svg') no-repeat center; }
.elips-mobile::before { background: url('/public//Images/TabMobileElips.svg') no-repeat center; }
.banner-desktop-elips::before { background: url('/public//Images/BannerElips.svg') no-repeat center; }
.banner-mobile-elips::before { background: url('/public//Images/Banner-Mobile-Elips.svg') no-repeat center; }

@tailwind base;
.wrapper {
  @apply max-w-[1440px] w-[90%] mx-auto;
}

.nav-list {
  @apply font-[400] text-[20px] leading-[28px] text-center text-[#696969] py-2 w-full lg:hover:text-[#27307D] transition-all ease-in-out duration-[.5s]  
}

.nav-list .active {
  @apply before:content-[''] before:absolute relative before:w-[80px] before:h-[8px] z-[2] before:bottom-[10%] before:left-[50%] before:translate-x-[-50%] before:z-[-2]
}

.common {
  @apply after:content-['\f078'] after:font-['FontAwesome'] after:text-[19px] after:text-[#696969] after:absolute after:top-[53%] after:translate-y-[-50%] after:right-[-33%];
}

.icon-common {
  @apply relative indent-[-9999px] flex justify-center before:font-['FontAwesome'] before:absolute before:indent-0 before:block text-[18px] before:text-[#27307D]
}

.counter {
  @apply before:content-[''] before:absolute before:w-[61px] before:h-[1px] before:bg-white before:top-[-9%] before:translate-y-[9%] before:left-[50%] before:translate-x-[-50%];
}

.footer-nav-list {
  @apply font-[500] text-[14px] leading-[22px] text-black basis-[27%] text-center lg:hover:opacity-[75%] transition-all ease-in-out duration-[.5s]
}

.Slider {
  @apply font-[400] text-[14px] leading-[20px] text-center text-[#696969] pb-8
}

.list-befor{
  @apply relative mt-[85px] before:block before:absolute before:top-[-67px] before:left-[50%] before:translate-x-[-50%] before:w-[67px] before:h-[67px]
}

.list-after {
  @apply relative after:content-[''] after:absolute after:w-[44px] after:h-[2px] after:bg-[#27307D1F] after:bottom-[-6px] after:left-[50%] after:translate-x-[-50%] 
}

.tab-list {
  @apply relative before:absolute before:content-[''] before:w-[48px] before:h-[48px] before:top-[-24%]  md:before:w-[114px] md:before:h-[86px] before:translate-y-[50%] before:left-[4%] md:before:translate-y-[-50%]  md:before:left-[50%] md:before:translate-x-[-50%] md:before:top-[50%]
} 

.elips {
  @apply  before:h-[15px] md:before:h-[21px]  before:absolute before:bottom-[20%] md:before:bottom-[8%] 
}

.elips-commmon {
  @apply before:w-full relative before:z-[-2] z-[2] before:absolute before:content-[''] before:left-[50%]  before:translate-x-[-50%]
}

.active {
  @apply text-[#27307D]
}
@tailwind components;
@tailwind utilities;
