
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;font-family: 'Poppins', sans-serif;
}

.hero-image-one { background: linear-gradient(180.09deg, #F2F7FB 47.84%, rgba(242, 247, 251, 0) 99.92%); }

.hero-image-two {
  background-blend-mode: overlay;
  opacity: 60%;
  color: #08006C
}

@tailwind base;
.wrapper {
  @apply max-w-[1440px] w-[90%] mx-auto
}

.nav-list {
  @apply font-[400] text-[20px] leading-[28px] text-center text-[#696969] py-2 w-full
}
.common {
  @apply after:content-['\f078'] after:font-['FontAwesome'] after:text-[12px] after:text-[#696969] after:absolute after:top-[54%] after:translate-y-[-50%] after:right-[-21%]
}

.counter {
  @apply before:content-[''] before:absolute before:w-[61px] before:h-[1px] before:bg-white before:top-[-9%] before:translate-y-[9%] before:left-[50%] before:translate-x-[-50%]
} 
@tailwind components;
@tailwind utilities;